<footer>
  <nav>
    <ul>
      <li><a href="https://t.me/ulyaege">Канал про учебу</a></li>
      <li><a href="https://t.me/ulyagq">Канал лайф стайл</a></li>
    </ul>
  </nav>
  <div>
    <p>Ульяна Глебова</p>
    <p>ИСy25 M33011</p>
    <p class="server-load">server loading time : {{time}}</p>


  </div>
</footer>