
  <article>
    <header>
      <h1>Тайные Личности Евгения Пригожина</h1>
      <img src="img/PrigozhinMain.png" alt="Пригожин">
    </header>


    <div>
      <p>
        Евгений Викторович Пригожин – это одна из самых <b>загадочных</b> и обсуждаемых фигур в современной политике и бизнесе. Сначала успешный предприниматель и владелец ресторанных сетей, потом владелец ЧВК "Вагнер. В сеть слили подставные личности Пригожина тех пор, как самолет, на котором (по всей вероятности) находились Евгений Пригожин, Дмитрий Уткин и другие деятели ЧВК “Вагнер”, в последний раз пролетал над Тверью 23 августа.
      </p>

      <div>
        <h2>Сотрудник Министерства обороны в Судане</h2>
        <p>Такая личность занимается <em>очень важными делами</em>: Обеспечение безопасности, Вооруженные силы, Подготовка и обучение, Оборонный бюджет, Международное сотрудничество, Внутренние вопросы, Кризисы и чрезвычайные ситуации. Несомненно, быть сотрудником минобороны в судане это классно
        </p>
        <img class="zoom-trigger" src="img/p5.jpg" data-zoom="img/p5.jpg">
        <div class="detail">
          <section>
            <h3>Настоящий мужчина</h3>
            <p>Описание</p>
            <ul>
              <li>Наведите на изображение для полного наслаждения</li>
              <li>Пригожин очень умен</li>
              <li>И вкусно готовит</li>
              <li>Жаль полетел в Африку</li>
            </ul>
            <h4>$00.99 <button>Пожертвовать на похороны</button></h4>
          </section>
        </div>
        <script>
          var demoTrigger = document.querySelector('.zoom-trigger');
          var paneContainer = document.querySelector('.detail');

          new Drift(demoTrigger, {
            paneContainer: paneContainer,
            inlinePane: false,
          });
        </script>
      </div>

      <h2>Помощник дипломата из Абу-Даби</h2>
      <p>По этому поводу хочется процитировать классика:
      </p>
      <blockquote cite="https://genius.com/Platina-abu-dhabi-ba6y-lyrics">
        Биг бой Абу-Даби — увезу твою суку в Дубаи<br>
        Да, я на флексе арабском, а, да, я на дрифте арабском, а<br>
        Играет на мне, как на флейте, ей не нужны мои деньги<br>
        Детка мечтает быть вместе, но я всё равно ей не верю<br>
      </blockquote>
      <div class="image-container">
        <img src="img/p2.jpg" alt="Пригожин2">
        <img src="img/sheih.jpg" alt="Пригожин9">
        <img src="img/p7.jpg" alt="putin">
        <img src="img/p8.jpg" alt="shaman">
      </div>


      <h2>Старший лейтенант из Бенгази</h2>
      <p>Бенгази – второй по величине город Ливии, располагается на берегу Сидра, большого залива Средиземного моря к юго-западу от древнегреческого города Беренике. Бенгази – крупнейший населенный пункт района Киренаики, экономический центр, оживленный порт. В годы Второй мировой войны город подвергался массированным бомбардировкам, однако впоследствии был восстановлен и стал одним из наиболее привлекательных городов Северной Африки. </p>
      <img src="img/p6.jpg" alt="Пригожин3" height="300">

      <section class="yellow">
        <h2>Формула успеха Евгения Пригожина</h2>
        <p>П<sup>10</sup>+(Т*У<sub>1</sub>)+К+У<sub>2</sub></p>
        <p>где:<br>
          П — Патриотизм<br>
          Т — Трудолюбие<br>
          У<sub>1</sub> — Ум<br>
          К — Красота<br>
          У<sub>2</sub> — Ускорение свободного падения</p>
      </section>

      <h2>Полковник из Триполи</h2>
      <p>Триполи — второй по величине город Ливанской республики и основной порт северного Ливана. Наиболее яркие страницы истории города связаны с пребыванием здесь крестоносцев, совершавших свое кровавое паломничество по святым местам. В начале XII века крестоносцы вели в Ливане активное строительство замков и крепостей. И самая знаменитая фортификация того времени находится в Триполи. Это цитадель Святого Жиля.</p>
      <img src="img/p3.jpg" alt="Пригожин4" height="300">

      <h2>Торговец из Сирии</h2>
      <p>Сирия — государство в Западной Азии. Граничит с Турцией, Ираком, Иорданией, Израилем и Ливаном, на западе омывается Средиземным морем. Площадь — 185 180 км². Население — 17 780 044 человек (2017 г.); 90% составляют сирийцы (арабы). Глава государства — президент. Официальный язык — арабский. Большинство верующих — мусульмане. Столицей является Дамаск.</p>
      <img src="img/p1.jpg" alt="Пригожин5" height="300">

      <h2>Полевой командир Мухаммед</h2>
      <p>Сегодня мы говорим о пророке Мухаммеде как об исторической личности. Исламская история гласит, что пророк Мухаммед родился в 570-571 году н.э. В 610 году получил первое откровение. Затем он возглавил несколько арабских племен, начал войну с немусульманами, захватил Мекку и Медину, создав первое мусульманское протогосударство. После его смерти в 632 году его сменили халифы, создав Праведный халифат.</p>
      <img src="img/p4.jpg" alt="Пригожин6" height="300">

      <p>Также Пригожин пробовал себя в программировании, вот кусок кода, написанный им:</p>
      <p class="rose"><code>
        while (!Donbas.partOf(Russia)) {<Br>
        Donbas.bombit();<Br>
        }</code></p>

      <pre class="custom-pre">
@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%#############%%%#######%%###%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@%###############################%###%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@%#########################################@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@##%#################%###%#########++*#%##*##%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@####################%#####*#*==+==+**=-==+*===+%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@%###################%#*+==---=+-=*=--=**=---===-=%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@%%#######++=*%#######*=---------====-::-#++=-----==%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@%%%##%#**%===*#######**-------=----==-==-=+::--=--::-=@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@%%##%#*==+#==##%##+*#+==:----:-=-----==-==-+=:::-=:::--*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@%##%*===+#=+##%##--*+:-::-:-:.::+----:--:-+==+::=+=----=#@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@%##%*===#*=*###*+*::*:-::::::::-:+=:+:::-=:-#+=#::+==---+*#@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@%##%%===*#=###%#+++:-=----:--------*-*+----=-=##@=-:-==-===%@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@##%##===+%###%+%*+*--=-------------*+=#=---==-=*=*====+==*++@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@#%%#%==+####*#=**=#--#=-==------=-==*-#*-*=-==-=-=#==-=*+=*+#@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@#%###**####***==+=#+-*+=+=----+*=-=-%-+#-+#--=-==-+=+=-+**=*+@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@#%##%####*#+++=.===++*#*=*----+%*===*=:=+-+=+====--+=*=-#*+=+%@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@%###%###*+*+=+=.-=--**%#+++=-++%%=+*+=:-+=++++=-*--*=**-+*%=+#@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@###%%##+=**=+++++**+*#%*=#+=#=%#+*=+*+++#*++++-#=-=*+%==%%#+@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@%#%%%%#==%+=*#*%%@@@@+*++#*=#==##==*-*=@@#*+@#=##--#*%+=%%@*@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@%#%#%%%==%+=*@:.-%@%*..++##+#++#=-...*%%:...:+*#%=-%%%*+%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@%%%#%*%+=%*+-...-+=:...-+:=++#=:=:....:::...-***%+=%##**%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@%%%%*##=##%+...........:-...-=...........:-=*=%%+*%%#%##@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@%+@%%+%+*###==............--.:...........:=*=#%%*%%#%%%*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@*@@%##%*%%*#+=::........-**............=+++#%%%%%+%*#%*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@#@@%#%%#**++*=:........-==..........:-=+#*#%%%%#+*+%#%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@%@@%%%%%%++*++=:........:..........:--+*+##%%%*=++%%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@%@%%%%%+=*+=--:....::..::........=+%*=#%%+++*%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@%@%%%++##+==:................-==+#+=%%%*++#%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@%#%+=##%#+-:.............::==*=*%#*%+#%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@#+**=#%@@%+............:---+*%%*==%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@*+%%@@@@#=++:......--::=#%%%+::::=@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#@@%*%%#+=**+==+=-:=*###*-::::::*%*#%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@%#*=%@@@@@==-+#%#*++++++*##%#*-::::::::+@*+++*%%#%%@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@%%*=---====+@@@@@#=+=-:=#%%###%%%%#=:::::*=::::+@*****##::::::-==+#%%%@@@@@@@@@@@@@@@
@@@@@@@@@@@@%+:::::=======*@@@@@*==+*==-:#@@@@=::::::-#@+:::::+@%%%###@:::::::::::::::-+%@@@@@@@@@@@
@@@@@@@@@@@+-:::::::======#@@@@@+===+#%+-:%@%%::::::@#-:::::::-*@@@@@@@#=-::::::::::::::::+@@@@@@@@@
@@@@@@@@@%+%%-:::::::::-=+@@@@@%======+*-:=@@#::::::::::::::::::*@@@@@@@%=====-::::::::::::-+#@@@@@@
@@@@@@@@%#%%#--:::::::::-%%@@@@+=========-:=+=:::::::::::::::::::+@@%%%##@*-:::::::::::=###=::-%@@@@
@@@@@@@@*@#%=--::::::::+#***#@*-=---:::::::::::::::::::::::--:::::=@#=+++*%@-::::::::--%##%%*::=@@@@
@@@@@@@@=%*=--:::::::+%*===+#=.::::::::::::::::::::::::::--::::::::+@#*****@#:::::::-=:#%%%#@-::#@@@
                    </pre>

    </div>

    <h2>Патроны</h2>

    <table>
      <thead>
      <tr>
        <th>Название</th>
        <th>Пробитие, класс брони</th>
        <th>Урон в тело, ед.</th>
        <th>Скорость, м/с</th>
        <th>Шанс рикошета %</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td data-th="str">AP</td>
        <td data-th="str">2.5</td>
        <td data-th="str">52</td>
        <td data-th="str">392</td>
        <td data-th="str">20</td>
      </tr>
      <tr>
        <td data-th="str">Пст гж</td>
        <td data-th="str">2</td>
        <td data-th="str">54</td>
        <td data-th="str">365</td>
        <td data-th="str">5</td>
      </tr>
      <tr>
        <td data-th="str">Т</td>
        <td data-th="str">1.4</td>
        <td data-th="str">58</td>
        <td data-th="str">340</td>
        <td data-th="str">6</td>
      </tr>
      <tr>
        <td data-th="str">ПСО</td>
        <td data-th="str">1</td>
        <td data-th="str">59</td>
        <td data-th="str">340</td>
        <td data-th="str">6</td>
      </tr>
      <tr>
        <td data-th="str">RIP</td>
        <td data-th="str">0.2</td>
        <td data-th="str">102</td>
        <td data-th="str">381</td>
        <td data-th="str">0</td>
      </tr>
      </tbody>
    </table>


  </article>

  <aside>
    <h2 class="rose">Картинка дня:</h2>
    <div id="preloader" class="preloader"></div>
    <p><img id="day-image" src="" alt="ahaha"> </p>
    <p id="description"></p>
  </aside>
  <script src="js/dayPhoto.js"></script>
