<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="css\outlinesContact.css">
    <script src="js/ussr.js"></script>
    <script src="js/load.js"></script>


    <title>Контакты</title>
</head>
<body>

<header>
    <h1 id="header-main-h">медуза</h1>
    <p class="header-sub">правда, живите по правде</p>
    <nav>
        <a href="index.hbs">Последняя статья</a>
        <a href="study.hbs">Курсы</a>
        <a href="contact.hbs">Контакты</a>
        <script src="js/menu.js"></script>
    </nav>
</header>

<main>
    <section>
        <h2>Напишите нам</h2>
        <form>
            <label for="name">Ваше имя:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Ваш Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Ваше сообщение:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Отправить</button>
        </form>
    </section>
</main>

<footer>
    <nav>
        <ul>
            <li><a href="https://t.me/ulyaege">Канал про учебу</a></li>
            <li><a href="https://t.me/ulyagq">Канал лайф стайл</a></li>
        </ul>
    </nav>
    <div>
        <p>Ульяна Глебова</p>
        <p>ИСy25 M33011</p>
    </div>
</footer>

</body>
</html>