<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Ульяна Глебова">
<!--    <script type="text/javascript" src="./drift/dist/Drift.js"></script>-->
    {{> styles}}
    {{> commonScripts}}

    <title>ПЕZДУЗА</title>
</head>
<body>
    {{> header}}
    {{> menu}}
    {{> content}}
    {{> footer}}

</body>
</html>