<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="css\outlinesContact.css">
    <title>Учебные курсы</title>
</head>
<body>

<header>
    <h1 id="header-main-h">медуза</h1>
    <p class="header-sub">правда, живите по правде</p>
    <nav>
        <a href="index.hbs">Последняя статья</a>
        <a href="study.hbs">Курсы</a>
        <a href="contact.hbs">Контакты</a>
        <script src="js/menu.js"></script>

    </nav>
</header>


<main>
    <section class="tableConstructor" id="section4">
        <h2>Выберите свой учебный курс</h2>
        <form id="tableForm">
            <label for="service">Учебный курс</label>
            <select id="service" name="service">
                <option value="Мир в каждый дом">Мир в каждый дом</option>
                <option value="Кузя Лакомкин">Кузя Лакомкин</option>
                <option value="Тик ток гуру">Тик ток гуру</option>
                <option value="Релокант2022">Релокант2022</option>
            </select>
            <br>
            <label for="dayOfWeek">День недели</label>
            <select id="dayOfWeek" name="dayOfWeek">
                <option value="Пн">Пн</option>
                <option value="Вт">Вт</option>
                <option value="Ср">Ср</option>
                <option value="Чт">Чт</option>
                <option value="Пт">Пт</option>
            </select>
            <br>
            <label for="time">Время(ч)</label>
            <input type="number" id="time" name="time" min="0" max="23">
            <br>
            <input type="submit" value="Добавить">
        </form>
        <div id="tableContainer"></div>
    </section>
</main>
<script src="js/form.js"></script>

<footer>
    <nav>
        <ul>
            <li><a href="https://t.me/ulyaege">Канал про учебу</a></li>
            <li><a href="https://t.me/ulyagq">Канал лайф стайл</a></li>
        </ul>
    </nav>
    <div>
        <p>Ульяна Глебова</p>
        <p>ИСy25 M33011</p>
    </div>
</footer>

</body>
</html>